#flbhead {
  width: 100%;
  height: 80px;
  background: lightslategray;
}
#flbhead .flbnav {
  position: fixed;
}
#flbmain {
  background: #fffffc;
  overflow: hidden;
}
#flbmain .flbinfo {
  background: #ddddff;
  width: 100%;
  height: 300px;
  margin-left: 234px;
}
